/* .coverArt {
    max-width: 200px;
    max-height: 200px;
}

.albumMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.albumInside {
    text-align: center;
} */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Metal+Mania&family=Rubik+Puddles&family=Zen+Dots&display=swap');

.searchBut {
    font-family: "Rubik Puddles";
} 

@media (max-width: 576px) {
    .centerMe {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  