@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Metal+Mania&family=Prompt:wght@300&family=Rubik+Puddles&family=Zen+Dots&display=swap');

div.card.card-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   background-color: #5bc0be;
 }

 .followers-following {
   display: flex;
   justify-content: space-between;
   font-family: "Zen Dots";
 }
 
 .profile-picture {
   max-width: 100px; 
   height: auto;
 }
 
 .usernameArea {
   font-size: 18px;
   font-weight: bold;
   font-family: "Zen Dots";
 }
 
 .section {
   margin-bottom: 20px;
 }
 
 .section h3 {
   font-size: 23px;
   font-weight: bold;
   font-family: "Zen Dots";
   margin-top: 10px;
 }
 
 .section p {
   margin: 5px 0;
 }
 
 .album {
   margin-bottom: 10px;
 }
 
 .coverArt {
   width: 100px; /* Adjust the size as needed */
   height: 100px; /* Adjust the size as needed */
   object-fit: cover;
   margin-bottom: 5px;
 }
 
 .review {
   margin-bottom: 10px;
 }

.album-list {
  max-width: 400px;
}

 .custom-modal {
   display: flex ;
   align-items: center;
   justify-content: center;
   padding: 0;
 }
 
 .custom-modal .modal-dialog {
   margin: 0;
   position: relative;
   top: 50%;
   /* left: 50%; */
   transform: translate(-50%);
   max-width: 100%;
   width: auto;
 }

 .custom-modal .modal-content {
   border-radius: 0;
 }
 
 /* div.section-buttons {
  display: flex;
  justify-content: space-between;
} */


 button.profBut {
  background: hsl(263, 87%, 35%);
  border: none;
  color: #5bc0be;
  border-radius: 5%;
}

button.profBut:hover {
  box-shadow: 0 0 5px hsl(263, 87%, 35%), 0 0 25px hsl(263, 87%, 35%), 0 0 50px hsl(263, 87%, 35%);
  background-color: #5bc0be;
  color: hsl(263, 87%, 35%);
}

/* div.section-buttons {
  display: flex;
  justify-content: space-between;
} */
.section-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  font-family: "Zen Dots";
}

.musicText {
  font-size: 1.25rem;
  color: #001233;
  font-weight: bold;
  font-family: "Zen Dots";
}

.reviewDiv {
  border: 2px solid hsl(263, 87%, 35%);
  padding: 10px;
  border-radius: 5%;
}

.reviewText {
  font-family: "Prompt";
  font-weight: bold;
}

 
 
 /* Media queries for mobile responsiveness */
 @media (max-width: 767px) {
   .card-container {
     padding: 10px;
   }
 
   .profile-picture {
     width: 100px;
     height: 100px;
   }
 
   .section h3 {
     font-size: 14px;
   }
 
   .coverArt {
     width: 80px;
     height: 80px;
   }
 }
 

